body {
  margin: 0;
  background: radial-gradient(circle, #1a1a1a, black);
  color: gold;
  font-family: Arial;
  text-align: center;
}

.machine {
  margin-top: 50px;
}

h1 {
  color: orange;
  text-shadow: 0 0 10px red;
}

.balance {
  font-size: 24px;
  margin: 20px;
}

.reels {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px;
}

.reel {
  width: 100px;
  height: 100px;
  background: black;
  border: 5px solid orange;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px red inset;
}

.controls button {
  padding: 15px 25px;
  font-size: 18px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.spin {
  background: #00c3ff;
  color: black;
  font-weight: bold;
}

button:hover {
  transform: scale(1.1);
}

#msg {
  margin-top: 20px;
  color: white;
}
